html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  height: 100vh;
  display: grid;
  /* For mobile make a media query, calculate the height and adjust the rows */
  grid-template-rows: auto 34px;
  grid-template-areas:
    'main'
    'footer';
}
textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
grammarly-desktop-integration {
  display: none;
}
.main {
  background-color: #38679e;
}
/* 34px height */
.navigation-footer {
  background-color: #d7d8d5;
  border-top: white 2px solid;
  padding: 2px;
  display: flex;
  gap: 5px;
}
.start-menu {
  background-color: #d7d8d5;
  height: 500px;
  width: 371px;
  position: absolute;
  bottom: 34px;
  left: 0;
  box-shadow: 2px 2px 3px black;
  display: grid;
  grid-template-areas: 'left-column right-column';
  grid-template-columns: 60% 40%;
  font-size: 0.9rem;
  z-index: 5;
}
.start-menu .left-column {
  border-right: #b2b3b1 2px solid;
}
.start-menu .right-column {
  border-left: white 1.5px solid;
}
.start-menu .right-column img {
  vertical-align: center;
  border: 20px solid;
  height: auto;
  border-image: url('./images/user-frame.png') 32;
  margin-left: 23px;
}
.start-menu .right-column .links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.start-menu-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.start-menu-links img {
  cursor: pointer;
  height: 45px;
}
.start-menu .left-column .links {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.links a {
  text-decoration: none;
  color: black;
}
hr {
  margin-left: -7px;
  height: 1.5px;
  width: 138px;
}
.start-button {
  display: flex;
  align-items: center;
  height: 24px;
  width: 65px;
  padding-left: 3px;
  font-weight: bold;
  cursor: pointer;
}
.clicked-start-button {
  border-right: white 2px solid;
  border-bottom: white 2px solid;
  border-top: black 2px solid;
  border-left: black 2px solid;
}
.start-button img {
  height: 24px;
}
.start-button p {
  user-select: none;
}
.hidden {
  display: none;
}
.window {
  height: auto;
  background: #d7d8d5;
  border-top: white 1px solid;
  border-left: white 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  box-shadow: 0 0 0 0.5px #d7d8d5;
  display: flex;
  flex-direction: column;
}
.window-heading {
  background: linear-gradient(135deg, #929291 60%, #d7d8d5);
  height: 20px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-options {
  height: 17.5px;
  padding-left: 6px;
}
.window-options a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #929291;
}
.window-heading > button {
  height: 17.5px;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  border-top: white 1px solid;
  border-left: white 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
}
.window-heading-title {
  display: flex;
  align-items: center;
}
.window-heading-title img {
  height: 18px;
  margin: 0;
  padding: 2px;
  user-select: none;
}
.window-heading-title > p {
  font-size: 0.85rem;
  font-weight: bold;
  color: #d7d8d5;
  user-select: none;
}
.window-body {
  margin: 5px;
  border-right: white 2px solid;
  border-bottom: white 2px solid;
  border-top: black 2px solid;
  border-left: black 2px solid;
}
.window.music {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
  display: none;
}
.window.resume {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 20px;
  resize: both;
  overflow: auto;
  z-index: 2;
  display: none;
}
.window.projects {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 20px;
  resize: both;
  overflow: auto;
  z-index: 3;
  display: none;
  width: 350px;
}
.window.projects > .window-body {
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: #b2b3b1 1px solid;
}
.project > a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #929291;
  font-weight: bold;
  padding-right: 10px;
}
.project-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.project-title > p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  user-select: none;
}
.project-title > img {
  height: 20px;
  margin: 0;
  padding: 2px;
  user-select: none;
}
.window.resume > .window-body {
  width: 97%;
  height: auto;
}
.window-body > img {
  max-width: 100%;
  height: auto;
}
.open-apps {
  display: flex;
  margin-left: 20px;
}
.opened-app {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 24px;
  width: auto;
  padding-left: 3px;
  cursor: pointer;
  border-right: black 2px solid;
  border-bottom: black 2px solid;
  border-top: white 2px solid;
  border-left: white 2px solid;
}
.opened-app img {
  height: 24px;
  user-select: none;
}
.opened-app p {
  user-select: none;
  padding-right: 5px;
}
.media-player {
  display: none;
}
.resume-player {
  display: none;
}
.project-player {
  display: none;
}
.shortcut-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 5px;
  z-index: auto;
  height: 260px;
}
.shortcut {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shortcut p {
  text-shadow: 2px 2px 2px black;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
  text-align: center;
  color: #d7d8d5;
}
.bold {
  font-weight: bold;
}
.date-time {
  position: absolute;
  right: 0;
  padding-right: 5px;
}
#currentDateTime {
  text-align: center;
  border-top: #929291 2px solid;
  border-left: #929291 2px solid;
  border-bottom: none;
  border-right: none;
  background-color: #d7d8d5;
  font-size: 0.8rem;
  height: 20px;
  width: 120px;
  cursor: pointer;
}
@media only screen and (max-width: 390px) {
  html,
  body {
    height: calc(var(--vh, 1vh) * 100);
  }
  .opened-app > p {
    display: none;
  }
  .opened-app > img {
    padding-right: 4px;
  }
}
