@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --tan: #faf3dd;
  --dark: #5e6472;
  --red: #ffa69e;
  --green-blue: #b8f2e6;
  --light-blue: #aed9e0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--dark);
  height: 100vh;
}
body {
  display: grid;
  grid-template-areas:
    'sidebar header header'
    'sidebar main-content main-content'
    'sidebar main-content main-content';
  grid-template-columns: 200px auto auto;
  grid-template-rows: 175px auto auto;
}
.sidebar {
  z-index: 3;
  grid-area: sidebar;
  background-color: var(--red);
}
.sidebar-grid {
  display: grid;
  grid-template-areas:
    'dashboard'
    'navigation'
    'branding';
  grid-template-rows: auto auto auto;
  padding: 15px;
  color: var(--tan);
  gap: 60px;
}
.sidebar-grid > h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation,
.branding {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  gap: 15px;
}
.link {
  text-decoration: none;
  color: var(--tan);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
}
.header {
  z-index: 2;
  grid-area: header;
  background-color: var(--tan);
  box-shadow: 0 2px 8px var(--dark);
}
.main-content {
  z-index: auto;
  grid-area: main-content;
  background-color: var(--green-blue);
}
grammarly-desktop-integration {
  display: none;
}
textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

@media only screen and (max-width: 390px) {
  html,
  body {
    height: calc(var(--vh, 1vh) * 100);
  }
}
