@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --tan: #faf3dd;
  --dark: #5e6472;
  --red: #ffa69e;
  --green-blue: #b8f2e6;
  --light-blue: #aed9e0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--dark);
  height: 100vh;
}
body {
  display: grid;
  grid-template-areas:
    'sidebar header header'
    'sidebar main-content main-content'
    'sidebar main-content main-content';
  grid-template-columns: 200px auto auto;
  grid-template-rows: 175px auto auto;
}
.sidebar {
  z-index: 3;
  grid-area: sidebar;
  background-color: var(--red);
}
.sidebar-grid {
  display: grid;
  grid-template-areas:
    'dashboard'
    'navigation'
    'branding';
  grid-template-rows: auto auto auto;
  padding: 15px;
  color: var(--tan);
  gap: 60px;
  position: fixed;
}
.sidebar-grid > h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 1px 1px var(--dark);
}
.navigation,
.branding {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  gap: 15px;
}
.link {
  text-decoration: none;
  color: var(--tan);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
  text-shadow: 1px 1px var(--dark);
}
.header {
  z-index: 2;
  grid-area: header;
  background-color: var(--green-blue);
  box-shadow: 0 2px 8px var(--dark);
}
.header-grid {
  padding-left: 20px;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header-search header-profile'
    'header-welcome header-options';
  grid-template-columns: 60% 40%;
  grid-template-rows: 70px 105px;
  color: var(--dark);
}
.header-search {
  grid-area: header-search;
  display: flex;
  align-items: center;
  gap: 10px;
}
#search {
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  height: 24px;
  background-color: var(--tan);
}
.header-profile {
  grid-area: header-profile;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-profile > p {
  font-weight: bold;
}
.header-welcome {
  grid-area: header-welcome;
  display: flex;
  align-items: center;
  gap: 20px;
}
.welcome-msg > p,
h2 {
  margin: 0;
}
.header-options {
  grid-area: header-options;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
button {
  border: none;
  background-color: var(--red);
  border-radius: 15px;
  padding: 7px 20px;
  color: var(--tan);
  text-shadow: 1px 1px var(--dark);
}
#blue {
  color: var(--light-blue);
}
.main-content {
  z-index: auto;
  grid-area: main-content;
  background-color: var(--tan);
  padding: 25px 15px;
}
.main-content-grid {
  height: 100%;
  display: grid;
  grid-template-areas:
    'projects announcements'
    'projects trending';
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.projects {
  grid-area: projects;
}
.project-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
.project-card {
  background-color: var(--green-blue);
  height: 175px;
  width: 300px;
  border-radius: 10px;
  border-left: #aed9e0 8px solid;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  box-shadow: 2px 3px 5px var(--dark);
}
.project-desc > p:nth-child(1) {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}
.project-desc > p:nth-child(2) {
  font-size: 0.9rem;
  margin: 0;
}
.project-options {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.project-desc,
.announce,
.project-options svg {
  cursor: pointer;
}
h3 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.announcements {
  padding-right: 15px;
  grid-area: announcements;
}
.ann-card {
  background-color: var(--green-blue);
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 3px 5px var(--dark);
  padding: 20px;
}
.announce {
  padding: 10px 0;
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--dark);
  border: none;
}
.announce h4,
p {
  margin: 0;
}
.trending {
  padding-right: 15px;
  grid-area: trending;
}
grammarly-desktop-integration {
  display: none;
}
textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
input[type='search'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

@media only screen and (max-width: 390px) {
  html,
  body {
    height: calc(var(--vh, 1vh) * 100);
  }
}
