html,
body {
  margin: 0;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.container {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  /*  If we change this to auto-fill will create extra columns in the grid, instead of creating a fluid column as auto-fit does.  */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.quote {
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
p {
  margin-top: 0;
}
span {
  font-weight: bold;
  position: relative;
  margin-left: 15px;
}
span:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 10px;
  border-bottom: 1px solid black;
  top: 7px;
  left: -15px;
}
@media (min-width: 550px) {
  /*   .span-2 {
    grid-column: auto / span 2;
  } */
}
