@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.qr-component img {
  width: 350px;
  border-radius: 10px;
}
.qr-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: var(--white);
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.qr-component p {
  margin-top: 0;
  margin-bottom: 10px;
  width: 80%;
}
.qr-component h1 {
  width: 80%;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .qr-component img {
    width: 90%;
    border-radius: 10px;
  }
  .qr-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: var(--white);
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .qr-component p {
    margin-top: 0;
    margin-bottom: 10px;
    width: 80%;
  }
  .qr-component h1 {
    width: 80%;
    font-size: 1.5rem;
  }
}
